.MuiDivider-root {
    border: none;
    height: 1px;
    margin: 0;
    flex-shrink: 0;
    background-color: rgba(0, 0, 0, 0.12);
}

.MuiDivider-absolute {
    left: 0;
    width: 100%;
    bottom: 0;
    position: absolute;
}

.MuiDivider-inset {
    margin-left: 72px;
}

.MuiDivider-light {
    background-color: rgba(0, 0, 0, 0.08);
}

.MuiDivider-middle {
    margin-left: 16px;
    margin-right: 16px;
}

.MuiDivider-vertical {
    width: 1px;
    height: 100%;
}

.MuiDivider-flexItem {
    height: auto;
    align-self: stretch;
}

